.top-bar {
  top: 0px;
  left: 50%;
  transform: translateX(0%);

  width: 1500px;
  background-color: #dcdcdc;

  padding: 8px 0;
  font-size: 13px;
  text-align: center;

  border-radius: 8px;
  z-index: 1000;
}

img {
  width: 70px;
}

.header {
  padding: 10px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 70px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

.search input {
  width: 600px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.actions {
  display: flex;
  gap: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.item i {
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: -20px;
}