.container {
  margin-top: 100px;
  width: 60%;
  font-family: Arial;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  border-radius: 20px;
  /*PARA USAR BOX SHADOW - box-shadow: horizontal vertical blur spread color;*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
}


form div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 80px;
}

input {
  width: 80%;
  flex: 1;
}

button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
}